<!DOCTYPE html>
<html>
  <head>
    <title>Online store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "scaffolds" %>
    <%= stylesheet_link_tag "depot", :media => "all" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id = "store">
    <div id="banner">
      <%= "Pragmatic Bookshelf" %>
    </div>
    <div id = "column">
      <div id="side">
        <a href="https://www.google.com/search?client=firefox-b-d&q=whatsapp">whatsapp</a><br>
        <a href="https://www.google.com/search?client=firefox-b-d&q=twitter">Twitter</a><br>
        <a href="https://www.google.com/search?client=firefox-b-d&q=facebook">facebook</a><br>
      <p id="time"> <%= @time %></p>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
